<footer class="py-8 py-md-11 {{classList}}">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6 text-center">
        <!-- Brand -->
        <img
          src="{{webRoot}}/assets/img/logo-name-white.svg"
          alt="..."
          class="footer-brand img-fluid mb-2"
        />

        <!-- Text -->
        <p class="text-muted mb-2">Experience Matters. Guiding you home.</p>

        <!-- Social -->
        <ul class="list-unstyled list-inline list-social mb-6 mb-md-0">
          <li class="list-inline-item list-social-item me-3">
            <a
              href="https://www.facebook.com/FirstClass/"
              target="_blank"
              class="text-decoration-none"
            >
              <img
                src="{{webRoot}}/assets/img/icons/social/facebook.svg"
                class="list-social-icon"
                alt="..."
              />
            </a>
          </li>
          <li class="list-inline-item list-social-item me-3">
            <a
              href="https://www.linkedin.com/company/first-class-financial-services---denver/about/"
              target="_blank"
              class="text-decoration-none"
            >
              <img
                src="{{webRoot}}/assets/img/icons/social/linkedin.svg"
                class="list-social-icon"
                alt="..."
              />
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-6 text-center footer-requirements">
        <img
          src="{{webRoot}}/assets/img/EqualPNG.png"
          alt="..."
          class="equal-housing img-fluid mb-2"
        />
        <p class="text-muted mb-2">
          Regulated by the Deparment of Real Estate <br />NMLS # 375434
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</footer>
