<section class="py-8 py-md-11">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Heading -->
        <h2>
          True advisors for when it matters
          <span class="fw-bold text-primary">most</span>.
        </h2>

        <!-- Text -->
        <p class="fs-lg text-muted mb-7 mb-md-9">
          With 21 years of experience, we know how to structure your home loan
          to match your short & long-term financial goals. This will be one of
          the biggest financial decisions of your life; we bring the expertise
          to make sure the decision is sound and leads you to more wealth in
          your future.
        </p>
      </div>
    </div>
    <!-- / .row -->
    <div class="row" data-aos="fade-up">
      <div class="col-12 col-md-4 text-center">
        <!-- Icon -->
        <div class="icon text-primary mb-3">{{> home/home}}</div>

        <!-- Heading -->
        <h3>Purchase a Home</h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          Whether you are a first-time homebuyer or a seasoned homeowner, we
          offer a combination of digital technology and human touch adjusted to
          an experience that’s most comfortable to you.
        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <!-- Icon -->
        <div class="icon text-primary mb-3">{{> shopping/dollar}}</div>

        <!-- Heading -->
        <h3>Refinance a Mortgage</h3>

        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">
          Reduce your mortgage payment, consolidate debt or increase equity with
          a remodel. We will create a strategy to help you build your wealth
          through real estate faster.
        </p>
      </div>
      <div class="col-12 col-md-4 text-center">
        <!-- Icon -->
        <div class="icon text-primary mb-3">{{> navigation/right-2}}</div>

        <!-- Heading -->
        <h3>Experiece with Speed</h3>

        <!-- Text -->
        <p class="text-muted mb-0">
          Speed is essential in today’s world. But if the end result is not
          accurate, it doesn’t matter. Our technology allows for speed, and our
          people bring accuracy. In our 21 year history, we have never not
          closed a transaction on time.
        </p>
      </div>
    </div>
    <br />
  </div>
  <!-- / .container -->
</section>

<hr />

<!-- TESTIMONIALS -->
<section class="pt-10 pt-md-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Heading -->
        <h2>Our customers are our biggest fans.</h2>

        <!-- Text -->
        <p class="fs-lg text-muted mb-7 mb-md-9">
          Actions speak louder than words. Hear what our clients have to say
          about our experience, service, and attention to detail over the years.
        </p>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12">
        <!-- Card -->
        <div class="card card-row shadow-light-lg mb-6">
          <div class="row gx-0">
            <div class="col-12 col-md-6">
              <!-- Slider -->
              <div
                class="card-img-slider"
                data-flickity='{"fade": true, "imagesLoaded": true, "pageDots": false, "prevNextButtons": false, "asNavFor": "#blogSlider", "draggable": false}'
              >
                <div
                  class="card-img-start w-100 bg-cover"
                  style="background-image: url(assets/img/photos/photo-1.jpg)"
                >
                  <!-- Image (placeholder) -->
                  <img
                    src="assets/img/photos/photo-1.jpg"
                    alt="..."
                    class="img-fluid d-md-none invisible"
                  />
                </div>

                <div
                  class="card-img-start w-100 bg-cover"
                  style="background-image: url(assets/img/photos/conley_2.jpg)"
                >
                  <!-- Image (placeholder) -->
                  <img
                    src="assets/img/photos/man-hair.jpeg"
                    alt="..."
                    class="img-fluid d-md-none invisible"
                  />
                </div>
                <div
                  class="card-img-start w-100 bg-cover"
                  style="background-image: url(assets/img/photos/kristine.jpg)"
                >
                  <!-- Image (placeholder) -->
                  <img
                    src="assets/img/photos/kristine.jpeg"
                    alt="..."
                    class="img-fluid d-md-none invisible"
                  />
                </div>
              </div>

              <!-- Shape -->
              <div
                class="
                  shape shape-end shape-fluid-y
                  text-white
                  d-none d-md-block
                "
              >
                {{> curves/curve-4}}
              </div>
            </div>
            <div class="col-12 col-md-6 position-md-static">
              <!-- Slider -->
              <div
                class="position-md-static"
                data-flickity='{"wrapAround": true, "pageDots": false }'
                id="blogSlider"
              >
                <div class="w-100">
                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">
                      <!-- Brand -->

                      <!-- / .row -->

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        “What can I say but Thank You! Mike went above and
                        beyond to assist me in understanding my options and then
                        advising me to make an informed decision. I will make
                        sure all my family and friends work with First Class
                        Financial because I know they will feel the same as me —
                        THRILLED.”
                      </p>

                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Diana Luna </span>
                      </footer>
                    </blockquote>
                  </div>
                </div>

                <div class="w-100">
                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">
                      <!-- Brand -->

                      <!-- / .row -->

                      <!-- Text -->

                      <p class="mb-5 mb-md-7">
                        “As a busy professional I needed a company that knew
                        their stuff and could provide a level of service that
                        would make my move as easy as possible. From my first
                        appointment to AFTER the closing, I cannot thank you all
                        enough for the high attention to detail. Your name says
                        it all — First Class is really who you are.”
                      </p>

                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">M. Conley</span>
                      </footer>
                    </blockquote>
                  </div>
                </div>

                <div class="w-100">
                  <!-- Body -->
                  <div class="card-body">
                    <blockquote class="blockquote text-center mb-0">
                      <!-- Brand -->

                      <!-- / .row -->

                      <!-- Text -->
                      <p class="mb-5 mb-md-7">
                        “It was super easy! Super excited to make it my home
                        now. :) Thank you so much for over a year of advice,
                        wisdom, and hard work! This process would have been
                        impossible without you, Mike. You work really well with
                        people who literally have no clue what they are doing. I
                        felt like I was in the best hands the entire time.”
                      </p>

                      <!-- Footer -->
                      <footer class="blockquote-footer">
                        <span class="h6 text-uppercase">Kristine </span>
                      </footer>
                    </blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- / .row -->
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- SHAPE -->
<div class="position-relative mt-n8">
  <div class="shape shape-bottom shape-fluid-x text-gray-200">
    {{> curves/curve-3}}
    <br />
    <br />
    <br />
    <br />
  </div>
  <br />
  <br />
  <br />
  <br />
</div>

<!-- CTA -->
<section
  data-jarallax
  data-speed=".8"
  class="py-12 py-md-14 overlay overlay-black overlay-80 jarallax"
  style="background-image: url(assets/img/covers/skyline.jpg)"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-1- col-lg-8 text-center">
        <!-- Heading -->
        <h1 class="text-white">Ready to work with us?</h1>
        <p class="fs-lg text-white-80 mb-6">
          For over 21 years, our commitment to personalized service has earned
          us a loyal following. Whether we are serving our customers or our Real
          Estate partners, we are focused on recognizing their individual needs
          and building relationships that last a lifetime.
        </p>

        <!-- Button -->
        <a href="{{webRoot}}/apply.html" class="btn btn-pill btn-primary lift">
          Get Started <i class="fe fe-arrow-right ms-2"></i>
        </a>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- SHAPE -->
<div class="position-relative">
  <div class="shape shape-bottom shape-fluid-x text-dark">
    {{> curves/curve-1}}
  </div>
</div>
